body{
  font-family: Arial;
  margin: 40px;;
}

.centralizar{
  text-align: center;
}
h2, h5{
  
  margin: 20px;
}
.box_model{
  background-color: #111;
  color: #fff ;
  border-radius: 4px;
  padding-top: 4px;
}
.botao{
  background-color: #febe01;
  color: #111;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 7px;
}

.amarelo{
  color: #febe01;
}

.fonte_cinza{
  color: #b2b2b2;
}