ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}


a {
    text-decoration: none;
    background: rgb(206, 201, 201);
    padding: 10px 20px;
    display: block;
    color: #000;
}